@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cl-1: #111111;
    --cl-2: #0066C2;
    --cl-3: #FFFFFF;
    --cl-4: #FFD8B1;
    --cl-5: #FF7518;
    --cl-6: #808080;
    --cl-7: #DDDDDD;

    --fw-xl: 900;
    --fw-lg: 700;
    --fw-md: 400;

    --fs-400: ;

    --mb-300: 3em;
    --mb-200: 2em;
    --mb-150: 1.5em;
    --mb-100: 1em;
    --mb-050: 0.5em;
}

body {
    font-size: var(--fs-400);
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline-style: none;
    background-color: transparent;
}

/* ===== UTILITIES ===== */
.flex {
    display: flex;
    align-items: center;
}

.wrap {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}