@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap";

:root {
    --orange: #E1662C;
    --white: #fff;
}
body{
    font-family: "Lato", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    align-items: center;
}
.wrap {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}
/* WELCOME CSS */

.welcome {
    height: 100vh;
    padding: 2em 0;
}
.welcome_wrapper {
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.welcome_home {
    position: absolute;
    top: 0;
    left: 0;
}
.welcome_info{
    flex-direction: column;
}


.welcome_btn{
    justify-content: center;
    flex-direction: column;
}
.login__form-login {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1em 0;
    border-radius: 30px;
    color: var(--white);
    background-color: var(--orange);
    margin-bottom: 1rem;
    color: var(--white);
}
.white{
    color: #000;
    background: var(--white);
    border: 1px solid #000;
}

/* SIGNUP CSS */
